html {
  font-size: 12px;
}

body {
  font-family: courier new,courier,monospace;
  font-size: 100%;
  word-wrap: break-word;
}

h1,h2,h3{
  font-size: 1em;
  color: #ffe793;
  color: #333;
}

h1 {
  text-align: center;
  letter-spacing: 1.1em;
  text-shadow: 0.5em 0.5em #eaeaea;
  margin: 70px;
}

h2 {
  background-color: #f0fff0;
  letter-spacing: 0.3em;
}

h3 {
  text-decoration: underline;
  letter-spacing: 0.1em;
}

a {
  text-decoration: none;
  max-width: 150px;
}

a:link {
  color:#0ae;
}

a:visited {
  color: #0ce;
  }

a:hover, a:active {
  color: #eee;
  text-shadow: 0.2em 0.2em #aaa;
}

ul, li {
  list-style-type: none;
}

.container {
  font-size: 0;
}

.container > div {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  box-sizing: border-box;
  border: 2px solid #f0f;
  padding: 5% 2% 5% 10%;
}


@media (max-width: 480px) {
  .container > div {
    display: block;
    width: 100%;
  }

  h1 {
    margin: 25px;
  }

  a {
    width: 100%
  }
}
