/*!
*Estilo te la página satreiba sanatnev en https://sbector.github.io/openwindows-unauthorized/
*/

body{
  font-family: "courier new,courier,monospace";
}

h1{
  background-color: #ffffe0;
}

h2{
  background-color: #f0fff0;
}

h3{
  background-color: #ffffe0;
}

a{
  color:#00f;
}
