html {
	font-size: 12px;
}

body {
  font-family: courier new,courier,monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  word-wrap: break-word;
}

h1,h2,h3{
  line-height: 1em;
  font-size: 1rem;
  color: #ffe793;
	padding: 0;
  color: #333;
}

h1,h3 {
  background-color: #ffffe0;
	margin: 50;
}

h1 {
	text-align: center;
	margin: 100;
}

h2 {
  background-color: #f0fff0;
}

h3 {
  border-bottom: 1px solid #000;
}

a {
  color:#00f;
  text-decoration: none;
	margin: 50;
}
